.side-bar-container {
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  background-color: #17181B;
  border-right: .1rem solid #202226;
}
