@import "~@styles/utilities/colors";
@import "~@styles/mixins/flex";
@import "~@styles/mixins/miscellaneous";

.search-field-item{
  width: 100%;
  height: 4rem;
  opacity: 1;
  margin-top: .5rem;

  @include display-flex();
  @include justify-content-center();
  @include align-items-center();
  @include slide-up-in(.9s);
  @include transition(.35s ease-out 0s);

  border: $primary-border-style;

  &.on-show{
    top: 2rem;
    visibility: visible;
  }
  & > input{
    width: calc(100% - 5rem);
    height: 100%;
    padding: 0 .7rem;
    outline: none;

    border: 0;
    border-right: $primary-border-style;
    background-color: transparent;
    color: $primary-color;
    font-size: 1.4rem;

  }
  & > svg{
    width: 5rem !important;
    cursor: pointer;
  }
}


@media screen and (min-width: 768px) {
  .search-field-item{
    visibility: hidden;
    position: fixed;
    top: -7rem;
    right: 1rem;
    left: auto;
    width: 30%;
    min-width: 25rem;
    z-index: 1;
    background-color: #fff;
  }
}
