.main-bar-container{
  width: auto;
  height: 100%;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 20rem;
  right: 0;

  background-color: #fff;

  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: margin-left .5s;
}
