@import "~@styles/utilities/colors";
@import "~@styles/utilities/responsive";
@import "~@styles/mixins/flex";
@import "~@styles/mixins/miscellaneous";

.modal-box-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: $modal-box-overlay-bg-color;
  z-index: 6;

  @include display-flex();
  @include justify-content-center();
  @include align-items-center();

  .modal-box-container{
    width: 90%;
    min-width: 32rem;
    height: auto;
    z-index: 12;
    border: $primary-border-style;
    background-color: $modal-box-bg-color;

    @include display-flex();
    @include flex-direction-column();
    @include slide-up-in(.7s);

    .md-title{
      color: $heading-color;
      text-transform: capitalize;
      font-size: 1.8rem;
      text-align: center;
      text-decoration: underline;
    }
    .modal-box-header,
    .modal-box-body,
    .modal-box-footer{
      width: 100%;
      min-height: 3rem;
      padding: .5rem;
      border-bottom: $primary-border-style;
      background-color: #fff;
    }

    .modal-box-footer{
      border-bottom: none;
    }

    .mb-button-close{
      @include main-button(100%, $modal-box-btn-bg-color, $modal-box-btn-color, 4rem, 1.8rem);
      border: none;
    }

    &.error{
      h3{
        color: #c0392b;
      }
    }
  }
}

@media #{$breakpoint-xs} {
  .modal-box-overlay{
    .modal-box-container{
      width: 64rem;
    }
  }
}
