@import "./reset";
@import "fonts/playfair-display";

*{
  box-sizing: border-box;
}

:root{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {

}

.grid {

}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-bold-italic{
  font-family: Playfair Display Bold Italic;
  font-weight: bold;

}

.on-overlay {
  background-color: rgba(0,0,0,0.4);
}
