@import "~@styles/utilities/colors";
@import "~@styles/utilities/responsive";
@import "~@styles/mixins/miscellaneous";

.side-bar-container {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  overflow: hidden;

  background-color: $header-bg-color;
  border-right: $header-border-color;
  z-index: 1;

  @include transition-duration(300ms);
  &.on-show{
    width: 20rem;
  }
}

@media #{$breakpoint-xs} {
  .side-bar-container{
    width: 20rem;
  }
}
