@import "~@styles/mixins/miscellaneous";
@import "~@styles/utilities/colors";
@import "~@styles/utilities/responsive";

.mv-details-title{
  @include page-header($heading-color, $heading-border-style);
  @include slide-up-in();
  & > a{
    color: inherit;
  }

}


@media #{$breakpoint-xs} {
    .mv-details-title{
      margin: 6.3rem auto 0 auto;
      max-width: 98rem;
      & > span{
        width: calc(100% - 3rem);
        padding-right: 1rem;
      }

      & > svg{
        display: block;
      }
    }
}
