@import '~@styles/utilities/colors';
@import '~@styles/mixins/flex';
@import '~@styles/mixins/miscellaneous';

.brand-container{
  width: 100%;
  min-height: 16rem;
  position: relative;

  @include display-flex();
  @include align-items-center();
  @include justify-content-center();

  background-color: $primary-bg-color;

  & > svg{
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
  }
  & > .brand-title{
    width: 100%;
    min-height: 3.5rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;

    background-color: $brand-bg-color;

    @include brand-title(2rem, $brand-color);
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  }
}


