@import "~@styles/mixins/miscellaneous";
@import "~@styles/utilities/colors";

.nav-list-item{
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-bottom: $header-border-color;
  text-align: left;

  padding-left: 2.5rem;

  & > a{
    width: 100%;
    display: block;
    line-height: 4.5rem;
    position: relative;
    color: $header-color;
    text-decoration: none;

    & > span:last-child{
      margin-left: 1rem;
    }

    @include transition-duration(300ms)
  }
}
