@import "~@styles/utilities/colors";
@import "~@styles/utilities/responsive";
@import "~@styles/mixins/miscellaneous";

.mv-details-container{
  @include route-container();

  .mv-details-overview{
    max-width: 98rem;
    margin: .3rem auto;
    color: $heading-color;
    font-size: 1.4rem;
    line-height: 1.6;
    border-bottom: $primary-border-style;
    padding: 1rem 0;
    word-break: break-all;

    @include slide-up-in(1.8s);
  }
}


@media #{$breakpoint-xs} {
  .mv-details-container{
    margin-top: 0;
    margin-left: 20rem;
    width: calc(100% - 20rem);

    .mv-details-overview{
      font-size: 1.8rem;
    }
  }
}
