@import "~@styles/mixins/flex";
@import "~@styles/utilities/colors";
@import "~@styles/utilities/responsive";

.mobile-container {
  width: 100%;
  min-width: 32rem;
  height: 5rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: $header-bg-color;
  border-bottom: $header-border-color;

  @include display-flex();
  @include justify-content-center();
  @include align-items-center();

  & > .title {
    width: calc(100% - 5rem);
    height: 100%;

    @include display-flex();
    @include justify-content-center();
    @include align-items-center();

    text-transform: uppercase;
    white-space: nowrap;
    font-size: 2.6rem;
    font-weight: bold;
    color: $header-hover-color;
  }

  & > .toggle-btn {
    width: 3.5rem;
    height: auto;
    cursor: pointer;
  }
}

@media #{$breakpoint-xs} {
  .mobile-container {
    display: none !important;
  }
}
