@import "~@styles/mixins/miscellaneous";
@import "~@styles/utilities/colors";

.setting-panel-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: auto;
  overflow: hidden;

  background-color: $modal-box-overlay-bg-color;
  text-align: center;
  @include transition-duration(.5ms);

  &.on-show{
   height: 100%;
  }


  & > .icon {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
    color: $pagination-btn-color;
    cursor: pointer;
  }
}
