.setting-panel-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: auto;
  overflow: hidden;

  background-color: rgba(0,0,0, 0.9);
  text-align: center;
  transition: .5s;

  &.on-show{
   height: 100%;
  }


  & > .icon {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
    color: #fff;
    cursor: pointer;
  }
}
