@import "~@styles/mixins/flex";
@import "~@styles/utilities/colors";

#login-container{
  width: 100%;
  height: 100%;
  position: absolute;

  background-color: $primary-bg-color;

  @include display-flex();
  @include align-items-center();
  @include justify-content-center();
}
